page-faq-model {
    ion-content{
        top: 1.5%;
        margin-left: 12%;
        margin-top: 20%;
        margin-bottom: 0%;
        height: 83%;
        width: 80%;
       
    }
   
h2{
    color: white;
    font-size: 32px;
}
p{
    color: white;
    font-size: 22px;
}

}
